python-dateutil>=1.5
requests-oauthlib>=0.7


cherrypy>=18.6.1
dash>=2.0.0
dash-core-components>=2.0.0
dash-html-components>=2.0.0
# jmspack>=0.0.2

numpy>=1.21.2

pandas>=1.0.5

pip>=21.2.4
plotly>=5.3.1

# python>=3.8.12

# scikit-learn>=0.24.2
# scipy>=1.5.3

setuptools>=58.0.4

# statsmodels>=0.12.2

gunicorn>=20.0.0
